<div class="content-nav pl-5 py-3 py border-bottom">
  <%=  link_to "TWEETS", users_path, class: "content-nav active-link"%>
  <%=  link_to "PHOTOS", users_path, class: "content-nav pl-3"%>
  <%=  link_to "VIDEOS", users_path, class: "content-nav pl-3"%>
</div>