<div class="d-flex justify-content-center">
  <p class="h3 text-purple">"You wanna fly, you got to give up the shit that weighs you down" ― Toni Morrison</p>
</div>
<div class="signup-welcome d-flex justify-content-center">
  <div>
    <img class="justify-content-center" src="https://www.freelogodesign.org/file/app/client/thumb/6a47447d-4599-4133-9275-a1afbb6f8fc4_200x200.png?1596783371447" alt="Logo">
  </div>

</div>