<div class="main-body">
  <div class="left-sidebar sticky-top">
    <%= render 'leftsidebar' %>
  </div>
  <div class="main-section">
    <div class="top-navbar sticky-top p-2 d-flex justify-content-between">
      <%= render 'topnavbar' %>
    </div>
    <div class="content pt-4 d-flex justify-content-center">
      <div class="form-size">
        <div class="form-group">
          <h2 class="display-5 text-purple">Update Profile</h2>
        </div>
        <%= render 'signupform' %>
      </div>
    </div>
  </div>
</div>
