// Place all the styles related to the opinions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post-image {
  width: 75px;
  height: 75px;
}

.all-posts{
  display: grid;
  grid-template-columns: 1fr 11fr;
}
