<% if flash[:notice] %>
  <div class="notice-color text-center text-white"><p class="h5"><%= flash[:notice] %></p></div>
<% end %>
<% if flash[:alert] %>
  <div class="alert-color text-center text-white"><p class="h5"><%= flash[:alert] %></p></div>
<% end %>